@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Gundarchuk V.M.</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Fooball!</h2>
        <p>
            It's a my project from Web institute example.
        </p>
    </div>
    <div class="col-md-4">
        <h2>You need this?</h2>
        <p>You can send letter to my email.</p>
        <p><a class="btn btn-default" href="https://www.google.com/intl/ru/gmail/about/">My post is gundarcukv@gmail.com</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it!</h2>
        <p>You can download lab from my GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/Vladoffz">See this project from my profile.</a></p>
    </div>
</div>
